<div class="container-fluid"> 
        <div class="row" > 
          <div class="col-sm-4">
              <span style="font-size: 22px;">Home</span> 
              <span style="font-size: 16px;">- Manage Purchases</span> 
          </div>
        </div>
      </div>
    
      <div class="text-danger" *ngIf="message">{{message}}</div>

      <div style="background-color: lightgreen;"  class="container-fluid"> 
            <div class="row"> 
                <div class="col-sm-2"><label class="label" >Product</label></div> 
                <div class="col-sm-4">
                  <select class="text-monospace form-control"  [(ngModel)]="selectedProduct" >
                      <option *ngFor="let c of Products" [ngValue]="c"> {{c.DisplayText}} </option>
                  </select>                            
          
                </div> 
            </div>
            <div class="row"> 
              <div class="col-sm-2"><label class="label" ># Bought</label></div> 
              <div class="col-sm-1"><input type="number" min="1" step="1" class="form-control" [(ngModel)]="selectedPurchase.Count" /></div>
          </div>  
          <div class="row"> 
            <div class="col-sm-2"><label class="label" >Cost Override</label></div> 
            <div class="col-sm-2"><input type="number" min="0.01" step="1.00" class="form-control" [disabled]="selectedProduct!=null && selectedProduct.Cost!=null" [(ngModel)]="selectedPurchase.CostOverride" /></div>
        </div>  
        <div class="row"> 
            <div class="col-sm-2"><label class="label" >Date of Purchase</label></div> 
            <div class="col-sm-3"><input type="date" class="form-control" [(ngModel)]="selectedPurchase.PurchaseDate"/></div>
        </div>  
        <div class="row"> 
          <div class="col-sm-2"></div> 
      </div>  
      <div class="row"> 
                <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableAdd"  (click)="SavePurchase()" >Add</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableClear" (click)="ClearPurchase()" >Clear</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableUpdate"  (click)="SavePurchase()" >Update</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableDelete" (click)="DeletePurchase()">Del</button></div> 
            </div>  
        </div>
        <div class="table-responsive">
        <table id="tblPurchaseData2" class="table table-striped table-hover table-condensed">
          <tr  style="background-color: orangered;">
              <th>Title</th>
              <th>Unit Count</th>
              <th>Unit Cost</th>
              <th>Count</th>
              <th>Cost</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let aw of Purchases"  (click)="goToLink(aw)"  (mouseover)="highlightRow(aw)" [ngClass] = "{'highlight' : aw.PurchaseID == selectedPurchaseID}">
              <td>{{aw.Title}}</td>
              <td>{{aw.UnitCount}}</td>
              <td>{{aw.UnitCostFormatted()}}</td>
              <td>{{aw.Count}}</td>
              <td>{{aw.CostFormatted()}}</td>
              <td>{{aw.PurchaseDate!=null? (aw.PurchaseDate  | date):"n/a"}}</td>
            </tr>
            <tr >
              <td colspan="6" style="text-align:center">
                  <button role="button" [disabled]="currentPage == 0" (click)="currentPage=currentPage-1; setPage();">
                      Previous
                  </button>
                  {{currentPage+1}}/{{numberOfPages}}
                  <button role="button" [disabled]="currentPage >= numberOfPages" (click)="currentPage=currentPage+1; setPage();">
                      Next
                </button>
              </td>
            </tr>
                      </table>
        </div>

