<div class="container-fluid"> 
        <div class="row" > 
          <div class="col-sm-4">
              <span style="font-size: 22px;">Home</span> 
              <span style="font-size: 16px;">- Manage Purchases</span> 
          </div>
        </div>
      </div>
    

        <div style="background-color: lightgreen;"  class="container-fluid"> 
            <div class="row"> 
                <div class="col-sm-2"><label class="label" >Product</label></div> 
                <div class="col-sm-3"><SELECT class="text-monospace form-control" id='selHomeProducts' ></SELECT></div> 
            </div>
            <div class="row"> 
              <div class="col-sm-2"><label class="label" ># Bought</label></div> 
              <div class="col-sm-1"><input id='txtHomeCount'  type="number" min="1" step="1" class="form-control" /></div>
          </div>  
          <div class="row"> 
            <div class="col-sm-2"><label class="label" >Cost Override</label></div> 
            <div class="col-sm-1"><input id='txtHomeCostOverride'  type="number" min="0.01" step="1.00" class="form-control" /></div>
        </div>  
        <div class="row"> 
            <div class="col-sm-2"><label class="label" >Date of Purchase</label></div> 
            <div class="col-sm-2"><input id='txtHomeDate' type="date" class="form-control" /></div>
        </div>  
        <div class="row"> 
          <div class="col-sm-2"></div> 
      </div>  
      <div class="row"> 
                <div class="col-sm-1"><button class="btn btn-primary" id='btnAddPurchase' >Add</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" id='btnClearPurchase' >Clear</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" disabled id='btnUpdatePurchase' >Update</button></div> 
                <div class="col-sm-1"><button class="btn btn-primary" disabled id='btnDelPurchase' >Del</button></div> 
            </div>  
        </div>
        <div class="table-responsive">
        <table id="tblPurchaseData2" class="table table-striped table-hover table-condensed">
          <tr  style="background-color: orangered;">
              <th>Title</th>
              <th>Unit Count</th>
              <th>Unit Cost</th>
              <th>Count</th>
              <th>Cost</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let aw of Purchases">
              <td>{{aw.Title}}</td>
              <td>{{aw.UnitCount}}</td>
              <td>{{aw.UnitCost!=null? aw.UnitCost:"n/a"}}</td>
              <td>{{aw.Count}}</td>
              <td>{{aw.Cost}}</td>
              <td>{{aw.PurchaseDate!=null? (aw.PurchaseDate  | date):"n/a"}}</td>
            </tr>
            <tr >
              <td colspan="4" style="text-align:center">
                  <button role="button" [disabled]="currentPage == 1" (click)="currentPage=currentPage-1; setPage();">
                      Previous
                  </button>
                  {{currentPage}}/{{numberOfPages}}
                  <button role="button" [disabled]="currentPage >= numberOfPages" (click)="currentPage=currentPage+1; setPage();">
                      Next
                </button>
              </td>
            </tr>
                      </table>
        </div>

