<div class="container-fluid"> 
    <div class="row" > 
      <div class="col-sm-4">
          <span style="font-size: 22px;">Category</span> 
          <span style="font-size: 16px;">- Manage Product Categories</span> 
      </div>
    </div>
  </div>
  <div class="text-danger" *ngIf="message">{{message}}</div>
  <div  style="background-color: lightgreen;"  class="container-fluid"> 
    <div class="row"><div class="col-sm-1">&nbsp;</div></div>
    <div class="row"> 
        <div class="col-sm-1">Title</div> 
        <div class="col-sm-2"><input  [(ngModel)]="selectedCategory.Title" /></div> 
    </div>
    <div class="row"><div class="col-sm-1">&nbsp;</div></div>
    <div class="row"> 
        <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableAdd"  (click)="SaveCategory()" >Add</button></div> 
        <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableClear" (click)="ClearCategory()" >Clear</button></div> 
        <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableUpdate"  (click)="SaveCategory()" >Update</button></div> 
        <div class="col-sm-1"><button class="btn btn-primary" [disabled]="disableDelete" (click)="DeleteCategory()">Del</button></div> 
    </div>
  </div>

  <div class="table-responsive">
  <table id="tblCategoryData" class="table table-striped table-hover table-condensed" style="width: 100%;">
    <tr  style="background-color: orangered;">
      <th>ID</th>
      <th>Title</th>
    </tr>
    <tr *ngFor="let aw of Categories"  (click)="goToLink(aw)"  (mouseover)="highlightRow(aw)" [ngClass] = "{'highlight' : aw.CategoryID == selectedCategoryID}">
        <td>{{aw.CategoryID}}</td>
        <td>{{aw.Title}}</td>
      </tr>
      <tr >
        <td colspan="4" style="text-align:center">
            <button role="button" [disabled]="currentPage == 0" (click)="currentPage=currentPage-1; setPage();">
                Previous
            </button>
            {{currentPage+1}}/{{numberOfPages}}
            <button role="button" [disabled]="currentPage >= numberOfPages" (click)="currentPage=currentPage+1; setPage();">
                Next
          </button>
        </td>
      </tr>
</table>
  </div>            

