<header>
        <div class="content-wrapper">
            <p style="float: left;"><IMG alt="Contact Us"  style="height:110px;" src="/assets/images/logo.png"></p>
        </div>
        <div  class='container' >
          
        <ul class="nav nav-tabs">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a   (click)="setActive('home')" class="{{getActive('home')}}" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a  (click)="setActive('purchase')" class="{{getActive('purchase')}}"
            class="nav-link" [routerLink]="['/purchase']"
              >Purchase</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a (click)="setActive('product')" class="{{getActive('product')}}"
            class="nav-link" [routerLink]="['/product']"
              >Product</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a (click)="setActive('category')" class="{{getActive('category')}}"
            class="nav-link" [routerLink]="['/category']"
              >Category</a
            >
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a (click)="setActive('report')" class="{{getActive('report')}}"
            class="nav-link" [routerLink]="['/report']"
              >Report</a
            >
          </li>
          <li class="nav-item"><a (click)="openLogin($event);" class="{{getActive('login')}}" href='#'>Login</a></li>
          <li class="nav-item"><a (click)="Logout($event);" class="{{getActive('logout')}}" href='#'>LogOut</a></li>
          <li class="nav-item"><a (click)="checkAuth($event);" class="{{getActive('test')}}" href='#'>Test</a></li>

        </ul>
      </div>
</header>
